<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
<%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    <img src="<%=   planetUranus.image  %>">
    <%=   planetUranus.description  %>
    <%- include('partials/footer.ejs') %>
</body>
</html>
